*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body{
    background: #e8e8e8 url(/Users/mila/Documents/Progs/HTML:CSS/Дз1/img/background.png) 50% 130px no-repeat;
}

.content {
    padding: 168px 0 137px 0;
    max-width: 841px;
    margin: 0px auto;
}

.content-top {
    text-align: center;
    margin: 0 0 63px 0;
}
.content-top_category {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2.8px;
    color: #748187;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
}
.content-top_title {
    font-size: 36px;
    line-height: 50px;
    color: #273d46;
    max-width: 725px;
    margin: 0 auto;
}

.content-image {
    box-shadow: 0px 15px 65px 0 #0f101026;
    background-color: #fff;
    padding: 10px;
    margin: 0 0 85px 0;
}
.content-image img{
    max-width: 100%;
}

.content-bottom {
    padding: 0 45px;
}

.content-bottom_text {
    font-size: 24px;
    line-height: 1.67;
    color: #53646b;
    max-width: 790px;
    margin: 0 0 48px 0;
}
.content-bottom_text p{
    margin: 0 0 40px 0;
}
.content-bottom_text p:last-child{
    margin: 0;
}

.content-bottom-info {}
.content-bottom-info-list {
    margin: 0 0 59px 0;
}
.content-bottom-info-list li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 0 15px 0;
    background: url(/Users/mila/Documents/Progs/HTML:CSS/Дз1/img/check.webp) left no-repeat;
    padding: 0 0 0 35px;
}
.content-bottom-info-list li:last-child {
    margin: 0;
}
.content-bottom-info-list li:nth-child(1) {
    text-shadow: 0px 1px 0 #0000004c;
    color: #273d46;
}
.content-bottom-info-list li:nth-child(2) {
    color: #80b7b3;
    font-style: italic;
}
.content-bottom-info-list li:nth-child(3) {
    color: #273d46;
    font-weight: 700;
}
.content-bottom-info-list li:nth-child(4) {
    color: #273d464c;
    text-decoration: line-through;
}
.content-bottom-info-list li:nth-child(4) span{
    opacity: 0.3;
}
.content-bottom-info_link {
    box-shadow: 0px 6px 40px 0 #80b7b38a;
    height: 44px;
    display: inline-block;
    padding: 0px 30px;
    line-height: 44px;
    background: #80b7b3;
    border-radius: 24px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 2.86;
    letter-spacing: 2.8px;
    color: #fff;
    text-transform: uppercase; 
}
.content-bottom-info_link span {
    padding: 0 30px 0 0;
    background: url(/Users/mila/Documents/Progs/HTML:CSS/Дз1/img/arrow.svg) right no-repeat;
}